/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}






body
{


  background: url('../images/admin.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}

.topbar
{

    height:30px;
    background-color:black;




}


.fleeformcontainer{height:100px;width:790px;position:fixed;top:50%;left:50%;margin-left: -450px;}
.headlinecontainer{position:fixed;top:25%;}
.footercontainer{position:fixed;top:90%;left:80%;}

  html , body{ margin:0;padding:0;height:100%;}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.btn-flee{ margin-top:15px;float:right;margin-right:20px;}

.fleeint{font-size:30px; padding-right:10px;padding-left:5px;color:white;}

.headline{font-size:56px;color:green;}

.footer{font-size:12px;color:black;}
